body{
    margin: 0px;
    background-color: #89C34A;
    height: 100%
}
.div_aling {
    position: center;
    background-color: #89C34A;
    text-align: center;
    color: aliceblue;
    font-family: Verdana;
}
