body{
    margin: 0px;
    background-color: #89C34A;
    height: 100%
}
.div_aling {
    font-size: 40px;
    background-color: #89C34A;
    text-align: center;
    color: aliceblue;
    font-family: Verdana;
    margin: 0px;
}
.div_aling2 {
    font-size: 40px;
    background-color: #89C34A;
    text-align: center;
    color: aliceblue;
    font-family: Verdana;
    margin: 0px;
}
button{
    padding: 20px;
    font-size: 35px;
    height: 100px;
    width: fit-content;
    font-family: Verdana;
    height: 10%;
}
img{
    margin-top: 2%;
    margin-bottom: 0px;
    width: 25%;
}
#bt2{
    border-radius: 100px;
    background-color: #02A8F4;
    width: 80%;
}
#bt3{
    border-radius: 100px;
    background-color: #00BAD3;  
    width: 80%;
}

@media (max-width: 1080px){
    html{
        height: 100%;
    }
    .div_aling2{
        margin: 0px;
        margin-top: 95%;
    }
    img{
        width: 50%;
    }
    button{
        font-size: medium;
        font-family: arial;
    }
}